################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RepositoryDemo/.vs
/RepositoryDemo/RepositoryDemo/obj/Debug
/AsyncController/.vs/ImmediateRefreshWithLongDBQuery/v15
/AsyncController/ImmediateRefreshWithLongDBQuery/bin
/AsyncController/ImmediateRefreshWithLongDBQuery/obj/Debug
/WebApiWithAsp.netCore/WebApiWithAsp.netCore/bin/Debug/netcoreapp2.0
/WebApiWithAsp.netCore/.vs
/WebApiWithAsp.netCore/WebApiWithAsp.netCore/obj
