################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RepositoryDemo/.vs
/RepositoryDemo/RepositoryDemo/obj/Debug
/AsyncController/.vs/ImmediateRefreshWithLongDBQuery/v15
/AsyncController/ImmediateRefreshWithLongDBQuery/bin
/AsyncController/ImmediateRefreshWithLongDBQuery/obj/Debug
