<h1>Employee Manager</h1>
<form>
    <table border="1" cellpadding="10">
        <tr>
            <td>Employee ID :</td>
            <td>
                <select id="employeeid"></select>
            </td>
        </tr>
        <tr>
            <td>First Name :</td>
            <td>
                <input id="firstname"
                       type="text" />
            </td>
        </tr>
        <tr>
            <td>Last Name :</td>
            <td>
                <input id="lastname"
                       type="text" />
            </td>
        </tr>
        <tr>
            <td>City :</td>
            <td>
                <input id="city"
                       type="text" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="insert"
                       value="Insert" />
                <input type="button" id="update"
                       value="Update" />
                <input type="button" id="delete"
                       value="Delete" />
            </td>
        </tr>
    </table>
    <br />
    <div id="msg"></div>
</form>